{% extends "master.html.twig" %}

{% block content %}
        {% for content in allContents %}

                <div class="posts">
                    <img src="{{ baseUrl() }}/uploads/{{ content.blog_image }}">
                    <div class="post-content">
                        <h3 class="post-title"><a href="/content/{{ content.blog_link }}">{{ content.blog_title }}</a></h3>
                        <div class="post-info">
                            <span class="author-info">
                                <i class="fa fa-user"></i>
                                <span class="fn">
                                    <span>{{ content.username }}</span>
                                </span>
                            </span>

                            <!--<span class="time-info">
                                <i class="fa fa-calendar"></i>
                                <a class="timestamp-link" href="http://www.revoltify.co.vu/2015/01/social-media-validation-tools.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="06.41">about a year ago</abbr></a>
                            </span>
                            <span class="comment-info">
                                <i class="fa fa-comments"></i>
                                <a href="http://www.revoltify.co.vu/2015/01/social-media-validation-tools.html#comment-form" onclick="">
                                14 Comments
                                </a>
                            </span>-->
                        </div>
                        <div class="post-body">
                            {% autoescape false %}
                            <p>{{ content.blog_description| raw[:300] ~ '...' }}</p>
                            {% endautoescape %}
                        </div>
                        <a class="read-more" href="/content/{{ content.blog_link }}" title="{{ content.blog_title }}"> Read More </a>
                    </div>
                </div>
        {% else %}
            Nothing to display
        {% endfor %}
{% endblock %}