<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{{ baseUrl() }}/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="{{ baseUrl() }}/assets/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates,  Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, sony ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!----webfonts---->
<link href='//fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
<!----//webfonts---->
<script src="{{ baseUrl() }}/assets/js/jquery.min.js"></script>
<!--end slider -->
<!--script-->
<script type="text/javascript" src="{{ baseUrl() }}/assets/js/move-top.js"></script>
<script type="text/javascript" src="{{ baseUrl() }}/assets/js/easing.js"></script>
<script type="text/javascript" src="{{ baseUrl() }}/assets/js/readmore.min.js"></script>
<!--/script-->
<script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
</script>
<!---->
</head>
<body>
<!---header---->
<div class="header">
     <div class="container">
          <div class="logo">
              <a href="index.html"><img src="{{ baseUrl() }}/assets/images/logo.jpg" title="" /></a>
          </div>
             <!---start-top-nav---->
             <div class="top-menu">
                 <div class="search">
                     <form method="post" action="/search" >
                     <input type="text" placeholder="" name="search" required="">
                     <input type="submit" name="submit" value=""/>
                     </form>
                 </div>
                  <span class="menu"> </span>
                   <ul>
                        {% for menu in menus %}
                            <li><a href="/menu/{{ menu.link }}">{{ menu.name }}</a></li>
                        {% endfor %}
                        <div class="clearfix"> </div>
                 </ul>
             </div>
             <div class="clearfix"></div>
                    <script>
                    $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                    });
                    </script>
                <!---//End-top-nav---->
     </div>
</div>
<!--/header-->
<div class="content">
     <div class="container">
         <div class="content-grids">
             <div class="col-md-8 content-main">
                {% block content %}{% endblock %}
              </div>
              <div class="col-md-4 content-right">
                 <div class="recent">
                    <h3>RECENT POSTS</h3>
                    <ul>
                     {% for post in recentPost %}
                        <li><a href="/content/{{ post.link }}">{{ post.blog_title }}</a></li>
                    {% endfor %}
                    </ul>
                 </div>
                 <div class="comments">
                     <h3>RECENT COMMENTS</h3>
                     <ul>
                     <li><a href="#">Amanda Doe</a> on <a href="#">Hello World!</a></li>
                     <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
                     <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
                     </ul>
                 </div>
                 <div class="clearfix"></div>
                 <div class="archives">
                     <h3>ARCHIVES</h3>
                     <ul>
                     <li><a href="#">October 2013</a></li>
                     <li><a href="#">September 2013</a></li>
                     <li><a href="#">August 2013</a></li>
                     <li><a href="#">July 2013</a></li>
                     </ul>
                 </div>
                 <div class="categories">
                     <h3>CATEGORIES</h3>
                     <ul>
                     <li><a href="#">Vivamus vestibulum nulla</a></li>
                     <li><a href="#">Integer vitae libero ac risus e</a></li>
                     <li><a href="#">Vestibulum commo</a></li>
                     <li><a href="#">Cras iaculis ultricies</a></li>
                     </ul>
                 </div>
                 <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <p>© 2015 Personal Blog . All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
</body>
</html>
