<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <!--

    Copyright (c) David Bushell | http://dbushell.com/

    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Welcome to agriteer blog{% endblock %}</title>

    <script src="{{ baseUrl() }}/assets/js/modernizr.js"></script>

    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/step4.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/search/css/component.css" />
    <script src="{{ baseUrl() }}/assets/search/js/modernizr.custom.js"></script>
    <!--<![endif]-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
</head>
<body>

<div id="outer-wrap">
    <div id="inner-wrap">

        <div class="header">
            <header id="top" role="banner">
                <div class="block" align="center">
                    <img src="{{ baseUrl() }}/assets/img/logo2.png"><small> / blog.agriteer.com</small>
                    <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
                </div>
            </header>

            <nav id="nav" role="navigation">
                <div class="block">
                    <h2 class="block-title">Chapters</h2>
                    <ul>
                        {% for menu in menus %}
                            {% if menu.link == 'home' %}
                                <li><a href="/">Home</a></li>
                            {% else %}
                                <li><a href="/menu/{{ menu.link }}">{{ menu.name }}</a></li>
                            {% endif %}
                        {% else %}
                            Nothing to display
                        {% endfor %}
                    </ul>
                    <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
                </div>
            </nav>
        </div>
    <div id="sb-search" class="sb-search">
        <form method="post" action="/search">
            <input class="sb-search-input" placeholder="Enter your search term..." type="search" value="" name="search" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"></span>
        </form>
    </div>

        <div id="main" role="main">
            <div class="post-outer">
                {% block content %}{% endblock %}
            </div>


            <div class="left-outer">
                <div class="container" align="center">
                    <img src="{{ baseUrl() }}/assets/img/logo.png" class="logo" />
                </div>

                <div class="container">
                    <div class="top">
                        <h3>Latest Posts</h3>
                    </div>
                        <ul>
                            {% for post in recentPosts %}
                                <li><a href="/content/{{ post.blog_link }}">{{ post.blog_title }}</a></li>
                            {% endfor%}
                        </ul>
                </div>

                <div class="container">
                    <div class="top">
                        <h3>Subscribe</h3>
                    </div>
                    <form>
                        <p>Subscribe to our latest blog post</p>
                        <input type="text" name="name" placeholder="Name" />
                        <input type="email" name="email" placeholder="Email" />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--/#inner-wrap-->

    <div class="footer">
        &copy; 2016 <a href="#">agriteer blog</a> All Right Reserved

        <div class="created-by">
            Created by IF-Solutions
        </div>
    </div>
</div>

<!--/#outer-wrap-->

<script src="{{ baseUrl() }}/assets/js/main.js"></script>
<script src="{{ baseUrl() }}/assets/search/js/classie.js"></script>
<script src="{{ baseUrl() }}/assets/search/js/uisearch.js"></script>
<script type="text/javascript">
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
</body>
</html>